header {
    background-color: #002361;
}

header form input {
    height: 35px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .15rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 95%;
}

#loginBtn, #loginBtnMv, #modalLoginBtn {
    border: 1px solid #3CB4E5;
    background: #002361;
    font-weight: 300;
    color: #fff;
    height: 35px !important;
    border-radius: 3px;
}

#registBtn, #modalRegistBtn {
    color: #002361;
    background-color: #3cb4e5;
    border: none;
    font-weight: 300;
    height: 35px !important;
    border-radius: 3px;
}



/* FOOTER */


footer img {
    width: auto;
    height: 100%;
}

footer h2 {
    margin: 12px;
    font-size: larger;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

footer .animate-scroll-left {
  animation: scroll-left 12s linear infinite;
}

footer .animate-scroll-right {
  animation: scroll-right 12s linear infinite;
}

#loginModal form input {
    height: 35px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .15rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* ALERTS */

.alert-container {
    width: 33%;
    position: fixed;
    right: 6px;
    bottom: 12px;
    top: 9px;
    justify-content: flex-end;
    height: fit-content;
    z-index: 99999;
}

.alert {
    margin-top: 12px;
    width: 90%;
    display: flex;
    padding: 6px !important;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 8px 12px 0 rgba(24, 22, 21, 0.5607843137), 0 1px 8px 0 rgba(24, 22, 21, 0.3215686275);
}

.alert .alert-icon {
    padding: 3px;
}

.alert .alert-icon i {
    filter: brightness(0) invert(100%);
    font-size: x-large;
    padding: 6px;
}

.alert .alert-text {
    filter: brightness(0) invert(100%);
    padding: 2px;
    flex: 1;
    font-size: medium;
    font-weight: bold;
}
.alert .alert-close {
    position: relative;
    top: -12px;
    left: -6px;
}
.alert .alert-close i {
    padding: 3px;
    font-weight: bold;
    color: #fff;
    font-size: small;
}

/* variantes (colores propios del banco) */
.alert--error .alert{
    margin-right: 9px;
    background: #DC2626;
    color: #fff;
    border-radius: 21px;
}

